

body {
    font-family: 'Open Sans', sans-serif;
	background:url(./bg2.gif) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-ms-background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	background-position:center;
	background-attachment:fixed;
}
/*--header--*/

